body {
    margin: 0;
    padding: 20px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
}
.titulo.pequeño {
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo.grande {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.evento {
    background-color: #ffffff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    gap: 20px;
}

.evento-fecha {
    text-align: center;
    margin-right: 20px;
}

.fecha.dia {
    font-size: 2rem;
    color: #3a3a3a;
}

.fecha.mes {
    font-size: 1.2rem;
    color: #757575;
}

.evento-info h1 {
    font-size: 2rem;
    color: #333333;
    margin-bottom: 5px;
}

.evento-descripcion {
    color: #555555;
    font-size: 1rem;
    margin-bottom: 10px;
}

.fecha.hora {
    font-size: 0.9rem;
    color: #757575;
}

.evento-imagen {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
}

.evento-boton {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
}

.evento-boton:hover {
    background-color: #0056b3;
}




.CreacionInformacion {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: grid;
    gap: 15px;
}

.CreacionInformacion label {
    font-size: 1rem;
    color: #333;
}

.CreacionInformacion input[type="text"], 
.CreacionInformacion input[type="date"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.CreacionInformacion button {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.CreacionInformacion button:hover {
    background-color: #0056b3;
}

.boton-sticky {
    position: fixed;
    bottom: 20px;  /* Distancia desde el borde inferior de la pantalla */
    right: 20px;   /* Distancia desde el borde derecho de la pantalla */
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-sticky:hover {
    background-color: #0056b3;
}